/* Define colors */
@define-color bg #1d1d20;
@define-color surface #222226;
@define-color headerbar #2e2e32;
@define-color fg #ffffff;
@define-color muted #9a9996;
@define-color accent #3584e4;
@define-color danger #c01c28;
@define-color success #26a269;
@define-color warning #cd9309;

* {
    border: none;
    font-family: DejaVuSansM Nerd Font Mono;
    min-height: 18px;
    font-size: 14px;
}

window#waybar {
    background: @headerbar;
}

#workspaces button {
    color: @muted;
    padding: 5px;
}

#workspaces button.persistent {
    color: @muted;
    font-size: 10px
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @headerbar;
    background: @muted;
}

#workspaces button.focused {
    color: @fg;
}

#clock,
#wireplumber,
#pulseaudio,
#backlight,
#battery,
#cpu,
#memory,
#temperature,
#tray {
    padding-left: 8px;
    padding-right: 8px;
    color: @fg;
}

#network {
    padding-left: 8px;
    padding-right: 8px;
    color: @fg;
    min-width: 200px;  /* Adjust this value to fit your needs */
}

#wireplumber.muted {
    color: @muted;
}

#temperature.critical {
    background-color: @danger;
}

#cpu.warning {
    background-color: @warning;
    color: @bg;
}

#cpu.critical {
    background-color: @danger;
    color: @fg;
}

#memory.warning {
    background-color: @warning;
    color: @bg;
}

#memory.critical {
    background-color: @danger;
    color: @fg;
}

#temperature.warning {
    background-color: @warning;
    color: @bg;
}

#battery.full{
    background-color: @success;
    color: @fg;
}

#battery.plugged {
    background-color: @success;
    color: @fg;
}

#battery.charging{
    background-color: @success;
    color: @fg;
}

#battery.warning:not(.charging) {
    background-color: @warning;
    color: @bg;
}

#battery.critical:not(.charging) {
    background-color: @danger;
    color: @fg;
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @headerbar;
        color: @fg;
    }
}
